<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=title%></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>
  <body>
    <section class="header">
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-lg-1 sidebar-wrapper shadow-sm sidebar-1" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-3">
              <img src="images/Rectangle-63.png" alt="logo-main" />
            </div>
            <div class="list-group list-group-flush mt-3">
              <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img src="images/fi_home.png" alt="" />
                <small style="margin-left: -0.5rem">Home</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img src="images/fi_truck.png" alt="" />
                <small style="margin-left: -0.4rem">Cars</small>
              </a>
            </div>
          </div>
          <!-- /#sidebar-wrapper -->

          <!-- Sidebar wraper dashboard -->
          <div class="col-lg-2 bg-white shadow-sm sidebar-2" id="sidebar-wrapper">
            <div class="list-group">
              <a href="#" class="fs-7 text-dark fw-bold pt-5 ms-1 mt-5 mb-3" style="color: #8a8a8a; text-decoration: none">Cars</a>
            </div>
            <div class="list-group">
              <a href="#" class="fs-7 text-dark fw-bold ps-2 pt-2 pb-2 mt-4" style="background-color: #cfd4ed; margin-left: -0.75rem; margin-right: -0.72rem; color: black; text-decoration: none">List Car</a>
            </div>
          </div>
          <!-- End Sidebar wraper dashboard -->
        </div>
      </div>
    </section>
  </body>
</html>
